body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}

#joltsChart {
    width: 75vw; /* Set the width to 75% of the viewport width */
    height: auto; /* Allow the height to adjust automatically */
    margin: 0 auto; /* Center the chart horizontally */
}
