body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: 'center';
}

.container {
    width: 65%;
    max-width: 800px;
    padding: 20px;
    float: left;
}

.end {
    width: 75%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    clear: both;
}

.sidebar {
    width: 20%;
    padding: 20px;
    float: left;
}

.commentary {
    border: 3px solid #000;
    height: 250px;
    margin-top:36px;
    margin-bottom: 170px;
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}

h2 {
    color: #454545;
    margin-top: 100px;
    text-align: center;
}

img {
  width: 80%; /* Adjust the width as needed */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
    margin-top: 0px;
}

.logo {
    width:15%;
    float: right;
    margin-right: 80px;
    
}
.footer {
    float: left;
    margin-left: 80px;
    color: #676767;
    font-size: 12px;
}

#mjoChart,
#qalChart,
#empChart, 
#heChart {
    width: 80%; /* Adjust the width as needed */
    height: 322px;
    margin: 0 auto; /* Center the charts horizontally */
    margin-bottom: 10px;
}

#qalChart,
#empChart, 
#heChart {
    margin-top:100px;
}
