body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 75%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
}



#mjoChart,
#qalChart,
#empChart {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the charts horizontally */
    margin-bottom: 50px;
}
